<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
    <head> 
        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App </title>
    </head>
    <body>
        <h1>Contact</h1>
            <p> Contact the ruby on rails tutorial about the sample app at the <a href="#">Contact page</a></p>
    </body>
</html>