<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
    <head> 
        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App </title>
    </head>
    <body>
        <h1>Help Page</h1>
            <p>
                Get help at <a href="#"> Rail tutorial help page </a>
                To get help on this sample app, see the <a href="#"> Ruby on rails tutorial </a>
            </p>
    </body>
</html>